<%- include('cabecera_pie/cabecera'); -%>
<div class="container">
    <!-- Formulario para añadir empresas-->
    <div class="row">
            <div class="card">
                <div class="card-body">
                     <form action="/empleados" method="POST">
                         <div class="form-group">
                             <input type='text' name="cif" placeholder="Inserte un cif" 
                             class="form-control" >
                         </div>
                         <div class="form-group">
                            <input type='text' name="nombre" placeholder="Inserte un nombre" 
                            class="form-control">
                        </div>
                        <div class="form-group">
                            <input type='text' name="apellidos" placeholder="Inserte los apellidos" 
                            class="form-control">
                        </div>
                        <div class="form-group">
                            <input type='password' name="password" placeholder="Inserte una contraseña" 
                            class="form-control">
                        </div>
                        <div class="form-group">
                            <input type='text' name="puesto" placeholder="Inserte el puesto de trabajo" 
                            class="form-control">
                        </div>
                        <div class="form-group">
                            <input type='number' name="codigoEmpleado" placeholder="Inserte un codigo de Empleado" 
                            class="form-control">
                        </div>
                        <div class="form-group">
                            <input type='text' name="email" placeholder="Inserte un email" 
                            class="form-control">
                        </div>
                         <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                     </form>
                </div>
            </div>
        </div>
</div>     

</body>
</html>