<%- include('cabecera_pie/cabecera'); -%>

<h1>Registrate</h1>
<div class="container">
    <!-- Formulario para añadir empresas-->
    <div class="row">
            <div class="card">
                <div class="card-body">
                     <form action="/login" method="GET">
                         <div class="form-group">
                            <input type='text' name="empleado" placeholder="Inserte un id empleado" 
                            class="form-control">
                        </div>
                        <div class="form-group">
                            <input type='number' name="horas" placeholder="Numero de horas" 
                            class="form-control" min="0" max="40">
                        </div>
                         <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                     </form>
                </div>
            </div>
        </div>
</div>     
    
</body>
</html>
